/* Start Global Properties  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::placeholder {
    transition: var(--main-transition);
}

:focus::placeholder {
    opacity: 0;
}

/* End Global Properties  */

/* Start Variables  */
:root {
    --main-transition : .3s;
    --text-color: #777;
    --blue-color: #0075FF;
    --orange-color: #F59E0B;
    --green-color: #22C55E;
    --red-color: #F44336;
}
/* End Variables  */

.page {
    background-color: #F1F5F9;
    min-height: 100vh;
}

/* Start side bar  */
.side-bar {
    color: #333;
    width: 250px;
    box-shadow: 0 0 10px #ccc;
    z-index: 1;
}

@media (max-width:767px) {
    .side-bar {
        width: 60px;
        padding: 10px;
    }
}

.side-bar .logo{
    margin-bottom: 60px;
    letter-spacing: -2px;
}

@media (min-width:768px) {
    .side-bar .logo::before,
    .side-bar .logo::after {
        content: "";
        position: absolute;
        left: 50%;
        background-color: #333;
        transform: translateX(-50%);
    }
    .side-bar .logo::before {  
        height: 3px;
        width: 120px;
        bottom: -20px;
    }
    .side-bar .logo::after {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 5px solid #fff;
        bottom: -30px;
    }
}

@media (max-width:767px) {
    .side-bar .logo {
        font-size: 15px;
        margin-bottom: 15px;
    }
}

.side-bar nav ul li{
    margin-bottom: 15px;
    transition: var(--main-transition);
}

.side-bar nav ul li:hover {
    background-color: #f7f7f7;
}

.side-bar nav ul li a{
    display: block;
    padding: 15px;
    color: #333;
}

.side-bar nav ul li i{
    padding-right: 30px;
}

.page .side-bar .link .active {
    background-color: #f7f7f7;
}
/* End side bar  */

.page .content {
    overflow: hidden;
}

/* Start Page Header  */
.header .search i{
    left: 10px;
    color: var(--text-color);
}

.header .search input{
    border: 1px solid #ccc;
    padding: 10px 20px 10px 30px;
    width: 200px;
    transition: var(--main-transition);
}

@media (min-width:768px) {
    .header .search input:focus {
        width: 300px;
    }
}

.header .search input::placeholder {
    text-transform: capitalize;
}

.header .profile i span{
    background-color: #F44336;
    width: 10px;
    height: 10px;
    bottom: 5px;
    right: -5px;
}

.header img {
    width: 50px;
}
/* End Page he.header  */

/* Start Dashboard Content  */

.dashboard-content .box{
    margin-bottom: 20px;
    overflow: hidden;
}

/* Welcome  */

.dashboard-content .box .head span {
    color: var(--text-color);
}

.dashboard-content .box .head .image img {
    width: 200px;
}

.dashboard-content .box .head > img {
    width: 60px;
    bottom: -30px;
    border: 5px solid #fff;
}

.dashboard-content .box .sumrise {
    margin: 50px 0 10px;
    border: 2px solid #f5f5f5;
    border-left: none;
    border-right: none;
    padding-top: 0;  
}

.dashboard-content .box .sumrise h4{
    font-size: 18px;
    font-weight: normal;
}

.dashboard-content .box .sumrise span{
    color: var(--text-color);
    font-size: 15px;
}

.dashboard-content .box .button .profile-button {
    background-color: var(--blue-color);
}

/* Quick Draft  */

.dashboard-content .box .draft input {
    margin-bottom: 30px;
}

.dashboard-content .box .draft input::placeholder {
    transition: var(--main-transition);
}

.dashboard-content .box .draft input:focus::placeholder {
    opacity: 0;
}

.dashboard-content .box .draft textarea {
    resize: none;
    height: 200px;
}

.dashboard-content .box .draft textarea::placeholder {
    transition: var(--main-transition);
}

.dashboard-content .box .draft textarea:focus::placeholder {
    opacity: 0;
} 

.dashboard-content .box .save-button {
    background-color: var(--blue-color);
}
/* End Dashboard Content  */

/* Start Targets  */

.dashboard-content .box .progress:not(:last-of-type) {
    margin-bottom: 10px;
}

.dashboard-content .box .progress:first-of-type .icon{
    background-color: #CCE3FF;
}

.dashboard-content .box .progress:nth-of-type(2) .icon{
    background-color: #FDECCE;
}

.dashboard-content .box .progress:last-of-type .icon{
    background-color: #D3F3DF;
}

.dashboard-content .box .progress .icon  {
    font-size: 20px;
}

.dashboard-content .box .progress:first-of-type .icon i{
    color: var(--blue-color);
}

.dashboard-content .box .progress:nth-of-type(2) .icon i{
    color: var(--orange-color);
}

.dashboard-content .box .progress:last-of-type .icon i{
    color: var(--green-color);
}


.dashboard-content .box .progress .info h3{
    margin: 10px 0;
}

.dashboard-content .box .progress .info span:first-of-type {
    color: var(--text-color);
}

.dashboard-content .box .progress .info .progress-bar {
    display: block;
    height: 5px;
}

.dashboard-content .box .progress .info .prog::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.dashboard-content .box .progress .info .progress-bar::after {
    content: attr(data-progress);
    position: absolute;
    color: #fff;
    height: 10px;
    width: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
    bottom: 15px;
    padding: 5px 8px;
    text-align: center;
    font-size: 10px;
    z-index: 0;
    transform: translateX(-50%);
}

.dashboard-content .box .progress:first-of-type .info .progress-bar::after {
    background-color: var(--blue-color);
}

.dashboard-content .box .progress:nth-of-type(2) .info .progress-bar::after {
    background-color: var(--orange-color);
}

.dashboard-content .box .progress:last-of-type .info .progress-bar::after {
    background-color: var(--green-color);
}

.dashboard-content .box .progress .info .progress-bar::before {
    content: "";
    position: absolute;
    color: #fff;
    height: 0;
    width: 0;
    left: 100%;
    transform: translateX(-50%);
    bottom: 0px;
    z-index: 0;
    border: 10px solid;
}

.dashboard-content .box .progress:first-of-type .info .progress-bar::before {
    border-color: var(--blue-color) transparent transparent transparent;
}

.dashboard-content .box .progress:nth-of-type(2) .info .progress-bar::before {
    border-color: var(--orange-color) transparent transparent transparent;
}

.dashboard-content .box .progress:last-of-type .info .progress-bar::before {
    border-color: var(--green-color) transparent transparent transparent;
}

.dashboard-content .box .progress:first-of-type .info .prog::before {
    background-color: #CCE3FF;
}

.dashboard-content .box .progress:nth-of-type(2) .info .prog::before {
    background-color: #FDECCE;
}

.dashboard-content .box .progress:last-of-type .info .prog::before {
    background-color: #D3F3DF;
}

.dashboard-content .box .progress:first-of-type .info .progress-bar{
    background-color: var(--blue-color);
}

.dashboard-content .box .progress:nth-of-type(2) .info .progress-bar{
    background-color: var(--orange-color);
}

.dashboard-content .box .progress:last-of-type .info .progress-bar{
    background-color: var(--green-color);
}
/* End Targets  */

/* Start Stats  */
.dashboard-content .box .tickets {
    flex-wrap: wrap;
}

.dashboard-content .box .tickets .ticket {
    flex-basis: calc((100% - 20px) / 2);
    border: 1px solid #ccc;
}

.dashboard-content .box .tickets .ticket h2{
    margin: 10px 0 5px;
}

.dashboard-content .box .tickets .ticket span{
    font-size: 14px;
}
/* End Stats  */

/* Start latest News  */
.dashboard-content .box .reports .report {
    margin-bottom: 15px;
    padding: 15px 0;
}

.dashboard-content .box .reports .report:not(:last-child) {
    border-bottom: 1px solid #eee;
}

@media (min-width:768px) {
    .dashboard-content .box .reports .report .report-short img {
        width: 100px;
    }
}

.dashboard-content .box .reports .report .report-short p {
    font-size: 14px;
}

.dashboard-content .box .reports .report span {
    width: 100px;
}
/* End latest News  */

/* Start latest tasks  */

.dashboard-content .box .tasks .task {
    padding: 10px 0;
}

.dashboard-content .box .tasks .task:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.dashboard-content .box .tasks .task.done {
    text-decoration: line-through;
    opacity: .4;
}

.dashboard-content .box .tasks .task .delete {
    transition: var(--main-transition);
}

.dashboard-content .box .tasks .task .delete:hover {
    color: var(--red-color);
}

/* End latest tasks  */

/* Start latest files  */
.dashboard-content .box .files .file {
    padding: 10px 0;
}

.dashboard-content .box .files .file:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.dashboard-content .box .files .file img {
    width: 40px;
    max-width: 100%;
}
/* End latest files  */

/* Start last projects  */
.dashboard-content .box .pointes .point span {
    width: 30px;
    height: 30px;
    border: 3px solid var(--blue-color);
}

.dashboard-content .box .pointes .point:not(:last-child) span::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: var(--blue-color);
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.dashboard-content .box .pointes .point span::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.dashboard-content .box .pointes .point span.releized::after  {
    background-color: var(--blue-color);
}

.dashboard-content .box .pointes .point span.next::after  {
    animation: color-change .8s linear infinite alternate;
}

.dashboard-content .box .project-image {
    width: 150px;
    animation: fly 2s ease-in;
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-500px);
    }
}

@keyframes color-change {
    from {
        background-color: #fff;
    }
    to {
        background-color: #CCE3FF;
    }
}
/* End last projects  */

/* Start reminders  */

.dashboard-content .box .reminder > span {
    width: 20px;
    height: 20px;
}

.dashboard-content .box .reminder > div {
    padding: 5px 20px;
}

.dashboard-content .box .reminder .detail::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
}

.dashboard-content .box .reminder:nth-of-type(1) .detail::before{
    background-color: var(--blue-color);
}

.dashboard-content .box .reminder:nth-of-type(2) .detail::before{
    background-color: var(--orange-color);
}
.dashboard-content .box .reminder:nth-of-type(3) .detail::before{
    background-color: var(--green-color);
}

.dashboard-content .box .reminder:nth-of-type(4) .detail::before{
    background-color: var(--red-color);
}

/* End reminders  */

/* Start Post  */

/* There is nothing  */

/* End Post  */

/* Start Social  */

.dashboard-content .box .social {
    padding: 15px 10px 15px 60px;
    height: 60px;
}

.dashboard-content .box .social.twitter {
    background-color: #D2ECFC;
    color: #1DA1F2;
}

.dashboard-content .box .social.facebook {
    background-color: #D1E4FC;
    color: #1877F2;
}

.dashboard-content .box .social.youtube {
    background-color: #FFCCCC;
    color: #FF2D2D;
}
.dashboard-content .box .social.linkedin {
    background-color: #CCE4F0;
    color: #0077B5;
}

.dashboard-content .box .social span:first-of-type {
    width: 50px;
    height: 100%;
    z-index: 1;
}

.dashboard-content .box .social.twitter span:first-of-type  {
    background-color: #1DA1F2;
}

.dashboard-content .box .social.facebook span:first-of-type  {
    background-color: #1877F2;
}

.dashboard-content .box .social.youtube span:first-of-type  {
    background-color: #FF2D2D;
}

.dashboard-content .box .social.linkedin span:first-of-type  {
    background-color: #0077B5;
}

.dashboard-content .box .social span:last-of-type {
    right: 10px;
}

.dashboard-content .box .social.twitter span:last-of-type {
    background-color: #1DA1F2;
}

.dashboard-content .box .social.facebook span:last-of-type {
    background-color: #1877F2;
}

.dashboard-content .box .social.youtube span:last-of-type {
    background-color: #FF2D2D;
}

.dashboard-content .box .social.linkedin span:last-of-type {
    background-color: #0077B5;
}

/* End Social  */

/* Start Projects  */
.dashboard-content .projects {
    grid-column: 1 / -1;
    overflow-x: auto;
}

.dashboard-content .projects table {
    border-collapse: collapse;
    min-width: 1000px;
}

.dashboard-content .projects table td{
    padding: 15px 10px;
    border: 1px solid #eee;
}

.dashboard-content .projects table img {
    width: 40px;
    border: 2px solid #fff;
    position: relative;
    z-index: 0;
}

.dashboard-content .projects table img:hover {
    z-index: 1;
}

.dashboard-content .projects table td img:not(:first-child) {
    margin-left: -20px;
}
/* ENd Projects  */

/* Start Css for Settings Page  */

.settings-content > div {
    margin-bottom: 20px;
    overflow: hidden;
}

/* Start Site Control  */

.settings-content .site-control textarea {
    height: 200px;
    resize: none;
    border: 1px solid #ccc;
}

.settings-content .site-control textarea::placeholder {
    font-family: monospace;
    font-size: 1rem;
    transition: var(--main-transition);
}

.settings-content .site-control textarea:focus::placeholder {
    opacity: 0;
}

/* End Site Control  */

/* Start General Info  */

.general-info form input:not([type = "submit"]) {
    border: 1px solid #ccc;
}

.general-info form input[type = "email"] {
    color: var(--text-color);
    background-color: #F1F5F9;
    cursor: not-allowed;
}
/* End General Info  */

/* Start Security Info  */

.security-info > div:nth-of-type(3) input[type="submit"] {
    color: #000;
    font-weight: normal;
}

/* End Security Info  */

/* Start Social info  */

.social-info .social {
    overflow: hidden;
    border: 1px solid #ddd;
}

.social-info .social .icon {
    width: 45px;
    height: 45px;
}

.social-info .social input {
    height: 45px;
    border: 1px solid #ddd;
    border-style: none none none solid;
    cursor: not-allowed;
}

/* End Social info  */

/* Start Widgets Control  */

/* End Widgets Control  */

/* Start Backup Manager  */

.backup-manager .plan {
    padding: 20px 0;
    border-top: 1px solid #eee;
}

/* End Backup Manager  */

/* End Css for Settings Page  */

/* Start Css for Profile Page  */

.presentation  .avatar{
    border-right: 1px solid #eee;
}

@media (max-width:767px) {
    .presentation  .avatar {
        border-bottom: 1px solid #eee;
        border-right: none;
    }
}

.presentation  .avatar .progress {
    width: 150px;
}

.presentation  .avatar .progress span{
    height: 10px;
}

.presentation .details .info {
    transition: var(--main-transition);
}

.presentation .details .info:hover {
    background-color: #f8f8f8;
}

.presentation .details .info .content {
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .presentation .details {
        text-align: center;
    }
}

.presentation .details .info .content > div {
    min-width: 250px;
}

.presentation .details .switch-btn-profile-version {
    display: flex;
    justify-content: left;
}

@media (max-width:767px) {
    .presentation .details .switch-btn-profile-version {
        justify-content: center;
    }
}

.presentation .details .switch-btn-profile-version > label {
    width: 100px;
    height: 25px;
}

/* Start My skills  */

.profile-content .my-skills > div div{
    color: #000;
}

/* End My skills  */

/* End Css for Profile Page  */

/* Start Css for Projects Page  */

.projects-content > div {
    margin-bottom: 20px;
    overflow: hidden;
}

.projects-content .card .team img {
    border: 3px solid #fff;
    position: relative;
    z-index: 1;
}

.projects-content .card .team img:hover {
    z-index: 2;
}

.projects-content .card .team img:not(:first-of-type) {
    margin-left: -20px;
}

.projects-content .card div:nth-of-type(2) span {
    color: #000;
    font-weight: normal;
}

.projects-content .card .progress-price .progress-bar {
    width: 250px;
}

.projects-content .card .progress-price .progress-bar span {
    height: 10px;
}

/* End Css for Projects Page  */

/* Start Css for Courses  */
.course-content .card{
    margin-bottom: 20px;
    overflow: hidden;
}
/* End Css for Courses  */

/* Start Css for Friends  */

.friends-content .card{
    margin-bottom: 20px;
    overflow: hidden;
}

.friends-content .card .contact .icon{
    transition: var(--main-transition);
}

.friends-content .card .contact .icon:hover{
    background-color: var(--blue-color);
}

.friends-content .card .contact .icon i {
    transition: var(--main-transition);
}

.friends-content .card .contact .icon:hover i{
    color: #fff;
}

.friends-content .card .achivements h1 {
    opacity: .5;
    transition: var(--main-transition);
    user-select: none;
}

.friends-content .card .achivements h1:hover {
    opacity: 1;
}

/* End Css for Friends  */