/* Start Gloabl value  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
/* End Gloabl value  */

/* Variables  */
:root {
    --main-transition : .3s;
    --text-color: #777;
    --blue-color: #0075FF;
    --orange-color: #F59E0B;
    --green-color: #22C55E;
    --red-color: #F44336;
}
/* Variables  */

/* Start box  */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.s-between {
    justify-content: space-between;
}
.s-around {
    justify-content: space-around;
}
.flex-end {
    justify-content: flex-end;
}
.aling-c {
    align-items: center;
}
.flex-1 {
    flex: 1;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mw-100 {
    max-width: 100%;
}
.full-w {
    width: 100%;
}
/* Start box  */

/* Start Color  */
.c-white {
    color: #fff;
}
.c-777 {
    color: #777;
}
.black-c {
    color: #000;
}
.blue-c {
    color: var(--blue-color);
}
.green-c {
    color: var(--green-color);
}
.orange-c {
    color: var(--orange-color);
}
.red-c {
    color: var(--red-color);
}
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #EEEEEE;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-red {
    background-color: var(--red-color);
}
/* End Color  */

/* Start Padding & Margin & gap  */
.p-5-10 {
    padding: 5px 10px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-25 {
    padding-top: 25px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.m-0 {
    margin: 0;
}
.m-15-0 {
    margin: 15px 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.ml-auto {
    margin-left: auto;
}
.ml-20 {
    margin-left: 20px;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
/* End Padding & Margin  */

/* Start Postion  */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.v-center {
    top: 50%;
    transform: translateY(-50%);
}
.h-center {
    left: 50%;
    transform: translateX(-50%);
}
.top-0 {
    top: 0;
}
.top-100 {
    top: 100%;
}
.right-0 {
    right: 0;
}
.right-100 {
    right: 100%;
}
.bottom-0 {
    bottom: 0;
}
.bottom-100 {
    bottom: 100%;
}
.left-0 {
    left: 0;
}
.left-100 {
    left: 100%;
}
/* End Postion  */

/* Start Font  */
.txt-c {
    text-align: center;
}
.txt-l {
    text-align: left;
}
.txt-r {
    text-align: right;
}
.tt-capital {
    text-transform: capitalize;
}
.fw-normal {
    font-weight: normal;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-17 {
    font-size: 17px;
}
.fs-18 {
    font-size: 18px;
}
.fs-19 {
    font-size: 19px;
}
.lh-16 {
    line-height: 1.6;
}
.lh-18 {
    line-height: 1.8;
}
/* End Font  */

/* Start Border  */
.rad-6 {
    border-radius: 6px;
}
.rad-8 {
    border-radius: 8px;
}
.rad-half {
    border-radius: 50%;
}
.b-none {
    border: none;
}
/* End Border  */

/* Start Responsive  */
@media (max-width:767px) {
    .hide-mobile {
        display: none;
    }
    .block-mobile {
        display: block;
    }
    .column-mobile {
        flex-direction: column;
    }
    .txt-c-mobile {
        text-align: center;
    }
}
.responsive-table {
    overflow-x: auto;
}
/* End Responsive  */

/* Start State  */
.pointer {
    cursor: pointer;
}
/* End State  */

/* Start Components  */

/* Content Title  */
.content-title {
    position: relative;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-size: 35px;
    padding: 20px;
    margin: 0 0 10px 0;
}
.content-title::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    left: 20px;
    bottom: 5px;
    background-image: linear-gradient(90deg, black 40%, white 40%);
}

/* Grid Disrbuation  */
@media (min-width:768px) {
    .grid-lg {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
        gap: 20px;
    }
    .grid-lg > div {
        margin: 0 !important;
    }
}
/* Buttons  */
.primary-button {
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

/* seperator border  */
.sp-border {
    border-bottom: 1px solid #eee;
}

/* switch button  */
.switch-btn {
    align-self: flex-end;
}
.switch-btn input {
    appearance: none;
}
.switch-btn label {
    position: relative;
    display: block;
    width: 70px;
    height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 16px;
    overflow: hidden;
}
.switch-btn label::before {
    font-family: "Font Awesome 6 Free";
    content: "\f00d";
    font-weight: 900;
    left: 0;
    position: absolute;
    width: fit-content;
    height: 100%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 16px;
    color: #fff;
}
.switch-btn label::after {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    width: calc(100%  + 1px);
    height: calc(100%  + 2px);
    background-color: var(--blue-color);
    border-radius: 10px;
    left: -101%;
    transition: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    color: #fff;
}
.switch-btn input:checked + label::after{
    left: 0;
}
/* End Components  */